VITE_EMAILJS_PUBLIC_KEY=ton_public_key_emailjs
VITE_EMAILJS_SERVICE_ID=ton_service_id
VITE_EMAILJS_TEMPLATE_ID=ton_template_id
VITE_EMAILJS_TEMPLATE_ID_CONFIRMATION=ton_template_id_confirmation
MONGODB_URI=ta_mongodb_uri